ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;  
}

  .input-padrao {
    display: block;
    margin-bottom: 10px;
    padding: 10px 25px;
    width: 50%;
  }

h1 {
  text-align: center;
  margin-bottom: 100px;
  color: black;
}

body{
  background-color: #00BF63;
}

.logo{
  width: 30%;
  border-radius: 10%;
  margin-left: 35%;
}